.downloadGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 58px;
  row-gap: 38px;
}

.downloadGrid__list > li > h3 {
  font-family: 'AnonymousPro-Regular', sans-serif;
  font-style: initial;
  text-transform: initial;
}

.downloadGrid__list > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadGrid__list > li:not(:first-child, :last-child) {
  margin-bottom: 28px;
}

.downloadGrid__list > li:first-child {
  margin-bottom: 48px;
}

.downloadGrid__item {
  border-radius: 150px;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(4px);
  padding: 8px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  min-width: 160px;
  max-width: 160px;
  transition: all .2s ease-in-out;
}

.downloadGrid__item:hover {
  background-color: #C4C4C4;
}

.downloadGrid__item:hover .downloadGrid__text {
 color: white;
}

.downloadGrid__text {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  margin-bottom: 4px;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .downloadGrid {
    grid-template-columns: 1fr 1fr;
    column-gap: 18px;
    row-gap: 28px;
  }
}

@media screen and (max-width: 640px) {

  .downloadGrid__item {
    min-width: unset;
  }
}

@media screen and (max-width: 576px) {

  .downloadGrid {
    grid-template-columns: 1fr;
    column-gap: 18px;
    row-gap: 28px;
  }
}