.comics__Wrapper {
  background-image: url("img/bg.png");
}

.comics__gridWrapper {
  z-index: 1;
  position: relative;
}

.comics__gridWrapper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.50);
  transform: rotate(-3deg);
  background: #fff;
  z-index: 0;
}

.comics__gridWrapper-grid {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
  background-image: url("img/comics-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  gap: 16px;
  grid-template-columns: minmax(100px, 328px) minmax(20px, 83px) minmax(50px, 213px);
  grid-template-rows: minmax(min-content, max-content);
}

.comics__gridWrapper-grid-item img {
  object-fit: cover;
}

.comics__gridWrapper-grid-item .slick-list {
  height: 100% !important;
}

.comics__gridWrapper-grid-item .slick-track {
  height: 100% !important;
}

.comics__gridWrapper-grid-item--1 {
  grid-column: 1/3;
}

.comics__gridWrapper-grid-item--3 {
  grid-column: 1/4;
}

.comics__gridWrapper-grid-item--4 {
  grid-column: 1/2;
}

.comics__gridWrapper-grid-item--5 {
  grid-column: 2/4;
}

.comics__gridWrapper-grid-item {
  border: 1px solid black;
}

.slider-distortion-effect {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.slider-wrapper > canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider-wrapper > img:first-of-type {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-wrapper > img:not(:first-of-type) {
  display: none;
}

.slider-distortion-effect .slider-prev,
.slider-distortion-effect .slider-next {
  display: block;
  background-color: transparent;
  border: 0;
  border-radius: initial;
  outline: none;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.slider-distortion-effect .slider-next {
  left: initial;
  right: 0;
}

@media screen and (max-width: 1280px) {
  .comics__gridWrapper-bg {
    left: 49%;
    top: -30px;
    transform: rotate(-3deg) translateX(-50%);
  }

  .comics__gridWrapper-grid {
    margin: 0 auto;
  }
}
